<% layout("layouts/boilerplate") %>
<div class="row mb-3">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      enctype="multipart/form-data"
      class="validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            class="form-control"
            type="text"
            id="price"
            name="campground[price]"
            value="<%= campground.price %>"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add More Images</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <% for (const [index, image] of campground.images.entries()) { %>
        <img
          crossorigin="anonymous"
          src="<%= image.thumbnail %>"
          class="img-thumbnail"
          alt=""
        />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            id="image-<%= index %>"
            value="<%= image.filename %>"
          />
          <label for="image-<%= index %>">Delete?</label>
        </div>
        <% } %>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-info">
          Submit Edited Campground
        </button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
  </div>
</div>
